:root {
  width: 100%;
  height: 100%;

}

body {
  width: inherit;
  height: inherit;
  margin: 0;
}

@font-face {
  font-family: dastNevis;
  src: url('./src/assets/fonts/danstevis.otf') format('otf');
}
:root {
  --background-Color: #fff;
  --modal-backdrop-bg: #000;
  --modal-container-bg: #fff;
  --text-black: #000;
  --text-white: #fff;
  --logo-size: 64px;
  --header-background: #fff;
  --buttons-color:#2B4E47;
  --admin-dashboard-color:#2B4E47;
  --slider-background: #F1F5F6;
  --admin-bg-color:#EEEEEE;
}

#root {
  width: 100%;
  height: 100%;
  background-color: var(--background-Color);
}

#root[data-theme="dark"] {
  --background-Color: #000;
  --modal-container-bg: #292929;
  --text-black: #fff;
  --text-white: #000;
  --header-background: #414144;
  --slider-background: #202020;
}